@import '../../set-style-prop';

section.add-todo {
  background: setStyleProp('background');
  display: flex;
  flex-direction: column;
  padding: 1em;
  flex-wrap: nowrap;
  > header {
    background: setStyleProp('background-a');
    padding: 1em;
  }
  > form {
    display: flex;
    flex-direction: column;
    > label {
      display: flex;
      flex-direction: column;
      color: setStyleProp('foreground');
      padding: 0.5em;
      margin: 0.5em 0;
      background: setStyleProp('background-a');
      > input {
        color: #111;
        background: #eee;
        padding: 0.5em;
      }
    }
    > button {
      cursor: pointer;
      font-weight: 900;
      color: setStyleProp('foreground');
      background: setStyleProp('action');
      padding: 1em;
      align-self: flex-end;
    }
  }
}