@import '../../set-style-prop';

section.todos {
  background: setStyleProp('background');
  display: flex;
  flex-direction: column;
  padding: 1em;
  flex-wrap: nowrap;
  width: 50%;
  max-width: 500px;
  > header {
    background: setStyleProp('background-a');
    padding: 0.25em;
  }
  > section {
    background: setStyleProp('background');
    list-style: square;
  > article {
    color: setStyleProp('foreground=a');
    background: setStyleProp('background-a');
    margin: 0.25em 0;
    padding: 0.5em;
  }
  }
}