section.todos {
  background: #444;
  display: flex;
  flex-direction: column;
  padding: 1em;
  flex-wrap: nowrap;
  width: 50%;
  max-width: 500px;
  > header {
    background: #bbb;
    padding: 0.25em;
  }
  > section {
    background: #ccc;
    list-style: square;
    color: #fff;
  > article {
    color: #eee;
    background: #111;
    margin: 0.25em 0;
    padding: 0.5em;
  }
  }
}