
@import 'set-style-prop';

section.todo-app {
  font-family: sans-serif;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;  
  max-width: 900px;
  color: setStyleProp('foreground');
  background-color: setStyleProp('background');
  padding: 1.5em;
  > header {
    font-weight: 700;
    color: setStyleProp('foreground-a');
    background: setStyleProp('background-a');
    padding: 1em;
    margin: 0 6px;
  }
}
